#cont {
    position: relative;
    background-color: rgba(0, 0, 0, .8);
    color: whitesmoke;
    padding: 10px;
    height: 50vh;
    width: 100%;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}