#pictures {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 94%;
    width: 100%;
    align-self: center;
}

@media only screen and (orientation: landscape) {
    .four {
        height: 23.5%;
    }
    .six {
        height: 19%;
    }
    .eight {
        height: 15.5%;
    }
    .ten {
        height: 13.2%;
    }
}


@media only screen and (orientation: landscape) and (min-aspect-ratio: 10/6) {
    .four {
        height: 22.85%;
    }
    .six {
        height: 17.8%;
    }
    .eight {
        height: 22%;
    }
    .ten {
        height: 19.5%;
    }
}

@media only screen and (orientation: landscape) and (min-width: 1080px) and (min-aspect-ratio: 10/6) {
    .eight {
        height: 15.5%;
    }
    .ten {
        height: 13.5%;
    }
}

@media only screen and (orientation: portrait) {
    .four {
        height: 23.5%;
    }
    .six {
        height: 19%;
    }
    .eight {
        height: 15.4%;
    }
    .ten {
        height: 13.6%;
    }
}


@media only screen and (orientation: portrait) and (min-aspect-ratio: 6/10) and (max-aspect-ratio: 7/10) {
    .four {
        height: 21.1%;
    }
    .six {
        height: 17.5%;
    }
    .eight {
        height: 11.7%;
    }
    .ten {
        height: 13%;
    }
}


@media only screen and (orientation: portrait) and (min-aspect-ratio: 1/2) and (max-aspect-ratio: 6/10) {
    .four {
        height: 18.7%;
    }
    .six {
        height: 15%;
    }
}

@media only screen and (orientation: portrait) and (max-aspect-ratio: 1/2) {
    .four {
        height: 18.5%;
    }
    .six {
        height: 15%;
    }
}

img {
    cursor: pointer;
    margin: 3px;
    border-radius: 2px;
    background-color: goldenrod;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
    transition: all 300ms ease-in-out;
    object-fit: cover;
    border: none;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    filter: brightness(0);
    -webkit-filter: brightness(0);
}

.first, .second, .shown {
    filter: brightness(1);
    -webkit-filter: brightness(1);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}

.last-two {
    -webkit-animation: glow 500ms ease-in-out infinite alternate;
    -moz-animation: glow 500ms ease-in-out infinite alternate;
    animation: glow 500ms ease-in-out infinite alternate;
    z-index: 2;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px goldenrod, 0 0 20px goldenrod, 0 0 25px goldenrod, 0 0 30px goldenrod, 0 0 35px goldenrod;
    }
    to {
        box-shadow: 0 0 10px #fff, 0 0 15px rgb(196, 159, 67), 0 0 20px rgb(196, 159, 67), 0 0 25px rgb(196, 159, 67), 0 0 30px rgb(196, 159, 67), 0 0 35px rgb(196, 159, 67), 0 0 80px rgb(196, 159, 67);
    }
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px goldenrod, 0 0 20px goldenrod, 0 0 25px goldenrod, 0 0 30px goldenrod, 0 0 35px goldenrod;
    }
    to {
        box-shadow: 0 0 10px #fff, 0 0 15px rgb(196, 159, 67), 0 0 20px rgb(196, 159, 67), 0 0 25px rgb(196, 159, 67), 0 0 30px rgb(196, 159, 67), 0 0 35px rgb(196, 159, 67), 0 0 80px rgb(196, 159, 67);
    }
}

.timer {
    height: 5%;
    line-height: 3vh;
    font-size: 3vh;
    padding: 1vh;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    border-radius: 5px;
    color: white;
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}

.started {
    color: green;
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

#screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, .7);
}

dialog {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1.5vh;
    text-align: center;
    font-size: 1.5vh;
    border: none;
    filter: blur(0);
}