#base {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 975px;
    height: 100%;
    width: 100%;
}

#profile-link {
    display: flex;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 2%;
    line-height: 4vh;
    text-decoration: none;
    z-index: 4;
}

i {
    font-size: 4vh;
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
    padding: 0;
    text-shadow: 0.2vh 0.2vh rgba(0, 0, 0, .5);
}

i:hover {
    transform: scale(1.3);
    color: white;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

#cookies {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    background-color: rgba(0, 0, 0, .7);
}

#cookie {
    width: 50%;
    text-align: justify;
    font-size: 2vh;
    margin-bottom: 6vh;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: goldenrod;
}

button {
    width: 200px;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    background-color: goldenrod;
    border: none;
    box-shadow: 5px 5px 5px rgba(218, 165, 32, .5);
}