.navbar {
  position: absolute;
  top: 1vh;
  height: 6vh;
  width: 98%;
  margin: 0;
  max-width: 975px;
  min-height: unset;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  border: none;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  width: 80%;
}

.form-horizontal {
  width: 100%;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

a {
  color: goldenrod;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: gold;
}

table {
  width: 100%;
  margin-bottom: 2vh;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
}

caption {
  font-size: 2.2vh;
  font-weight: bold;
  color: black;
}

table, tr, td {
  border: none !important;
  vertical-align: middle;
}

thead {
  font-weight: bold;
}

tr {
  cursor: cell;
}

thead tr {
  background-color: rgba(0, 0, 0, .8);
  color: whitesmoke;
  height: 3.5rem;
  font-size: 1.8rem;
}

tbody tr {
  background-color: white;
  height: 2.5rem;
  font-size: 1.5rem;
}

tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

tbody tr:hover {
  filter: brightness(1.3);
}

td {
  width: 25%;
  padding: .2rem;
}