@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-basis: auto;
  font-size: 100%;
}

html {
  display: flex;
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(219, 219, 219);
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  color: black;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, .6);
  border-radius: 5px;
}

app-root {
  position: absolute; 
  display: flex;
  flex-direction: column;
  height: 99%;
  width: 98%;
  max-width: 975px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
}

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

app-menu {
  position: absolute;
  top: 2%;
  left: 2%;
}

app-footer {
  order: 2;
  background-color: rgba(0, 0, 0, .8);
  /*border-radius: 5px;*/
  width: 100%;
  max-width: 975px;
  height: 6%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

app-setup, app-game, app-save, app-results, app-profile, app-home, app-register, app-login, app-policy, app-notfound {
  order: 1;
  background-color: steelblue;
  /*border-radius: 10px;*/
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 94%;
  overflow-y: scroll;
}

app-game {
  padding: 0;
  align-items: center;
}

app-profile {
  padding-top: 8%;
}

app-charts {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 450px) {}