#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

#demo {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#pictures {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 500px;
    align-self: center;
    margin-bottom: 2rem;
}

.cards {
    cursor: pointer;
    height: 160px;
    width: 100px;
    margin: 2px;
    border-radius: 2px;
    background-color: goldenrod;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
    transition: all 300ms ease-in-out;
    object-fit: cover;
    border: none;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    filter: brightness(0);
    -webkit-filter: brightness(0);
}

@media only screen and (max-width: 450px) {
    #pictures {
        width: 240px;
    }
    .cards {
        height: 80px;
        width: 50px;
    }
}

.first, .second, .shown {
    filter: brightness(1);
    -webkit-filter: brightness(1);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    pointer-events: none;
}

.last-two {
    -webkit-animation: glow 500ms ease-in-out infinite alternate;
    -moz-animation: glow 500ms ease-in-out infinite alternate;
    animation: glow 500ms ease-in-out infinite alternate;
    z-index: 2;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px goldenrod, 0 0 20px goldenrod, 0 0 25px goldenrod, 0 0 30px goldenrod, 0 0 35px goldenrod;
    }
    to {
        box-shadow: 0 0 10px #fff, 0 0 15px rgb(196, 159, 67), 0 0 20px rgb(196, 159, 67), 0 0 25px rgb(196, 159, 67), 0 0 30px rgb(196, 159, 67), 0 0 35px rgb(196, 159, 67), 0 0 80px rgb(196, 159, 67);
    }
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px goldenrod, 0 0 20px goldenrod, 0 0 25px goldenrod, 0 0 30px goldenrod, 0 0 35px goldenrod;
    }
    to {
        box-shadow: 0 0 10px #fff, 0 0 15px rgb(196, 159, 67), 0 0 20px rgb(196, 159, 67), 0 0 25px rgb(196, 159, 67), 0 0 30px rgb(196, 159, 67), 0 0 35px rgb(196, 159, 67), 0 0 80px rgb(196, 159, 67);
    }
}

.timer {
    height: 4rem;
    line-height: 2rem;
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    border-radius: 5px;
    color: white;
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}

.started {
    color: green;
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

#screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, .8);
}

#result {
    margin: 2rem;
    position: initial;
    left: initial;
    right: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    border: none;
    background-color: whitesmoke;
}

#result p {
    margin: 0;
}

span {
    font-weight: bold;
    color: goldenrod;
}

#wannaReg {
    color: whitesmoke;
}

form {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.form-group {
    align-self: center;
    margin-bottom: 4rem;
}

label, select, input {
    width: 100%;
    font-size: 1.5rem;
}

label {
    text-align: center;
    color: whitesmoke;
}

select, input {
    height: 3rem;
}

#reg {
    align-self: center;
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    border-color: rgba(0, 230, 0, .5);
    background-color: rgba(0, 230, 0, .4);
    color: whitesmoke;
}

#reg:disabled {
    border-color: rgba(255, 0, 0, .6);
    background-color: rgba(255, 0, 0, .4);
}

#errorScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: rgba(0, 0, 0, .8);
}


#errorDialog {
    position: initial;
    left: initial;
    right: initial;
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    border: none;
    margin-bottom: 4rem;
    background-color: red;
}

#close {
    font-size: 1.5rem;
    font-weight: bolder;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: whitesmoke;
    border: 1px outset rgb(228, 228, 228);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
}

h1 {
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 4rem;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    margin-top: 4rem;
}

img {
    width: 20%;
    margin-bottom: 4rem;
}

p {
    margin-bottom: 3rem;
}

#cookie {
    text-align: justify;
}

.lead {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
}


a {
    text-decoration: none;
    color: goldenrod
}

i {
    font-size: 5vh;
    text-decoration: none;
    color: goldenrod;
    transition: all 0.5s ease-in-out;
    text-shadow: .2vh .2vh rgb(0, 0, 0);
}

i:hover {
    transform: scale(1.3);
}

table {
    width: 90%;
    margin-bottom: 4rem;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
}

table, tr, td {
    border: none !important;
    vertical-align: middle;
}

thead {
    font-weight: bold;
}

tr {
    cursor: cell;
}

thead tr {
    background-color: rgba(0, 0, 0, .8);
    color: whitesmoke;
    height: 3.5rem;
    font-size: 1.8rem;
}

tbody tr {
    background-color: white;
    height: 2.5rem;
    font-size: 1.5rem;
}

tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}

tbody tr:nth-child(0) {
    background-color: goldenrod;
}

tbody tr:hover {
    filter: brightness(1.3);
}

td {
    width: 20%;
    padding: .2rem;
}