<div id="container">

  <h1>Welcome!</h1>

  <img src="../assets/image/logo.gif" alt="logo">

  <p class="lead">This is a simple matchmaker game to train your memory.<br><br>Please <a routerLink="/login">sign in</a>
      or <a routerLink="/register">register</a> if you haven't done it already!</p>

  <h3>Author details</h3>
  <h4>Name</h4>
  <p>Ádám Tóth</p>
  <h4>Location</h4>
  <p>Hungary</p>
  <h4>Web</h4>
  <p><a href="https://www.tothadi.hu" target="blank"><i aria-hidden="true" class="fa fa-address-card icons"></i></a>
  </p>
  <h4>Source of pictures</h4>
  <a href="https://freeimages.com" target="blank">freeimages.com</a>
</div>